
.features {
  padding-block: 4rem;
}

.feature {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  height: 100%;

  border-bottom: #9F8360 solid 2px;

  &__img {
    height: 4rem;
    flex-grow: 0;
  }

  &__block {
    flex-grow: 1;
    padding-inline: 2rem;
    color: #fff;
  }

  &__desc {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
  }
}
