.prodPg-image img {
  width: 100%;
  padding: 0;
  overflow: hidden;
  border-radius: 1rem;
  object-fit: cover;
}

.prodPg-card {
  margin: 1rem 0;
}

.prodPg-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 2em;
}

.prodPg-info-attrs li {
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item_dots {
  border-bottom: 0.1rem dashed #fff;
  opacity: .5;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 0.8rem 0.4rem 0.8rem;
}
